@tailwind base;
@tailwind components;
@tailwind utilities;

.pad{
  padding: 0 10px;
}

.hero-img{
  aspect-ratio: 0.9;
}

@media (min-width: 760px){
  .pad{
    padding: 0 48px;
  }
}

@media (min-width: 912px){
  .pad{
    padding: 0 64px;
  }
}
@media (min-width: 1080px){
  .pad{
    padding: 0 80px;
  }
}
@media (min-width: 1400px){
  .pad{
    padding: 0 160px;
  }
}